<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848156709569-v0lqfjvj7sbtgfvh0i7fhuvnfle3h025.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848156709569-v0lqfjvj7sbtgfvh0i7fhuvnfle3h025</string>
	<key>API_KEY</key>
	<string>AIzaSyDoSqVgum2HPMlxSd1-HPWkvrsItUYhrUA</string>
	<key>GCM_SENDER_ID</key>
	<string>848156709569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.udgvirtual.ODJII-2023A</string>
	<key>PROJECT_ID</key>
	<string>a-odjii</string>
	<key>STORAGE_BUCKET</key>
	<string>a-odjii.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848156709569:ios:a4898676a23424701ffa40</string>
</dict>
</plist>